<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>Add a Client</title>
    </head>
<body>
    <div class="container">
        <h1 class="jumbotron">{{ stylist.getFirstName }} {{ stylist.getLastName }}</h1>

        <h4>Your clients:</h4>
            {% for client in clients %}
                <ul>
                    <li>{{ client.getFirstName }} {{ client.getLastName }}</li>
                    <li>{{ client.getPhoneNumber }}</li>
                    <li>
                        <form action="/client/{{ client.getId }}" method="post">
                            <input type="hidden" value="patch" name="_method">
                            <button type="submit" class="btn">Edit Client</button>
                        </form>
                    </li>
                    <li>
                        <form action="/stylist/{{ stylist.getId }}" method="post">
                            <input type="hidden" value="delete" name="_method">
                            <button type="submit" class="btn" name="delete_client" value="{{ client.getId }}">Delete Client</button>
                        </form>
                    </li>
                </ul>
            {% endfor %}

        <h4>Add a client</h4>

        <form action="/stylist/{{ stylist.getId }}" method="post">
            <input name="stylist_id" type="hidden" value="{{ stylist.getId() }}">

            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input name="first_name" type="text" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input name="last_name" type="text" required>
            </div>

            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <input name="phone_number" type="text" required>
            </div>

            <button type='submit' class="btn">Add Client</button>
        </form>

        <p><a href='/'>Home</a></p>
    </div>
</body>
</html>
